img{  border-radius: 50%;}
body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 6.1%; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 63px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */

    color: black;
    border: 1px solid black;
}

/* The navigation menu links */
.link2 .btn{
    float: right;
    position: relative;
    top: -50px;
    margin-right: 10px;
    margin-top: 0px;

}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.1s;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}

.icons:hover{
    color: brown;
}
.icons2:hover{
    color: blue;
}

.sidenav img {
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .2s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidenav h1{
    text-align: center;
    margin-top: 10px;
}
li { cursor: pointer; }
li a {
    font-family: Tahoma, Verdana, Segoe, sans-serif;font-weight: bold;
    padding-right: 25px;
    padding-top: 25px;
    color: black;
}
.link :hover {
    color: white;
    text-decoration: none;
}
.list :hover {
    color: dimgrey;
    text-decoration: none;
}
.friend img {

    float: left;
    padding: 15px;
}

.friend {
    padding-bottom: 15px;
}
iframe {
    height: auto;
    left: 50px;

}  

.wrapper{ 

    width: 350px; padding: 10px; 
    margin: auto;
    width: 50%;
    height: 40%;
    padding: 10%;

}
.submit{ 
    padding-top: 20px;
    margin: auto;
}
.image2{ 
    padding-top: 15px;
}
#container{
    left: 0;
    width:100%;
    height:100%;
    position:relative;
    float:right;

}
#c3{
    width:100px;
    height:40px;
    top:-75px;
    position: relative;
    float: right;
    padding-left: 85%;

    padding-right: 25px;
}
#c2 img{

    width: 100%;
    height: 250px;
    top=0;
    left=0;
    border-bottom: 2px solid red;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;        }


#c3 img{
    border-color: white;
    border: 2px solid #ffff;
    border-radius: 50%;
    width: 150px;
    float: right;

}
#c4 h1{
    position:relative;
    top: -100px;;
    float: right;
    padding-right: 185px;
    font-family: Verdana;}
.glow {
    font-size: 35px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.post-footer-option li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;    
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}

.box #text2 {
    margin-left: 10px;
    width: 380px;
    border: none;
    padding: 5px 10px;
    font-family: arial;
    resize: none;
    outline: none;
    border-bottom: 2px solid #0077CC;
    transition: 0.5s;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;

    font-weight: bold;
}
.box textarea::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
.box textarea::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 2pxl;

}
.box section {
    width:500px; float:right; margin-right:150px;
}
.box section .text {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    z-index: 3;
    position: relative;
}
.box section div img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
section div button {
    float: right;
    margin: 15px 10px auto auto;
    border: none;
    background-color: #0077CC;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 16px;
}
.post-content{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left:15px;
    margin-top:15px;


}
.icons{
    color: "gray";
}
.text3 {
    top: 0;
    border: none;
    font-family: arial;
    resize: none;
    outline: none;
    width: 75%;
    border: 2px solid rgba(201, 76, 76, 0.3);
    float: left;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    transition: 0.2s;            
}
.comment-form .btn {
    float: right;
    margin-top: 0;
    top: 0;
}
.box #text1 {
    width: 400px;
    height: 50px;
    border: none;
    padding: 5px 10px;
    font-family: arial;
    resize: none;
    outline: none;
    border-bottom: 2px solid #0077CC;
    transition: 0.5s;
}
.comment-form{
    padding-bottom: 50px;

}
.comment{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    padding-top: 10px;
    float: left;
}
.par{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;

    font-size: 15px;
    padding-left: 45px;
    font-style: normal;

}
.imgpost{
    border-radius: 2px;
    width: 250px;
    height: 250px;
}
.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;}
.box section  .md-form,.box section  .file-field,file-path-wrapper{
    width: 470px;
    margin: 0px auto;
    background-color: #fff;
    overflow: hidden;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    z-index: 3;
    position: relative;
}

.file-field input.file-path {
    width: 300px;
    height: 36px;
    width:350px;
    height:30px;
    position: absolute;
    top: 0;
        float:right ; 

}
.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
    height: 2.5rem;
    width: 350px;
    margin: 0px auto;
    background-color: #fff;
    overflow: hidden;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    z-index: 3;
    position: absolute;
    top: 0;
    margin-top: 5px;
}
.file-field span {
    cursor: pointer;
}
.file-field .ptn {
    margin-bottom: 0;
    margin-top: 0;
    width:100px; margin-top=0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0px;
    margin-top: 0;
    width:100px; margin-top=0px;
    background-color:#337ab7;
    padding-bottom: 5px;
    padding-top: 5px;"
}

.file-path-wrapper{
    position: relative;
    top: 0;
    width: 350px;
    float:right; width:350px;position:absolute;
    top:0;
    right:0;
    margin-top:0px;margin-top:5px;
    margin-bottom:10px;

}
